<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" style = "font-size: 20px;" href="/">iStats<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Where to?
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/">Home</a>
          <a class="dropdown-item" href="/wordcloud">Word cloud</a>
          <a class="dropdown-item" href="/emojicloud">Emoji cloud</a>
          <a class="dropdown-item" href="/tapbacks">Tapback analytics</a>
          <a class="dropdown-item" href="/compare">Pie chart comparison</a>
          <a class="dropdown-item" href="/calmap">Calendar heat map</a>
          <a class="dropdown-item" href="/monthly">Monthly data</a>
          <a class="dropdown-item" href="/weekly">Weekly data</a>
          <a class="dropdown-item" href="/daily">Daily data</a>
          <a class="dropdown-item" href="/weekday">Weekday data</a>
          <a class="dropdown-item" href="/hourly">Hourly data</a>
          <a class="dropdown-item" href="/polWeekDay">Sentiment Weekday</a>
          <a class="dropdown-item" href="/polWeek">Sentiment Monthly</a>
      </div>
      </li>
    </ul>
  </div>
  <span class="navbar-text" style = "float:right">
      As of placeholder for date
    </span>
</nav>