<!DOCTYPE html>
<html>
<head>
{% load static %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<link rel="stylesheet" href="{% static 'admin/css/wordcloud.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="{% static 'admin/js/weekly.js' %}"></script>

</head>

<body scroll="no" style="overflow: hidden; background-color: black;" >
<!-- <div style = "background-color: black; height: 650px"> -->


{% include "navBar.html" %}

<div id="data">
	<h1 style = "text-align: center; color: grey;">A look at each week </h1>

	<h1 style = "text-align: center; color: grey; font-size: 12px;">placeholder weeks</h1>
	<h1 style = "text-align: center; color: grey; font-size: 12px; padding-bottom: 35px;">Average: placeholder/week</h1>

	<div>
	<h1 class = "mostactiveweek" style = "text-align: center; color: grey;">Our most active weeks </h1>
	<div style= "display: flex;padding-bottom: 35px; justify-content: space-between;padding: 10px;">
	<span class = "mostactiveweek" style = "color: grey;font-size: 20px;">placeholder</span>
	<span class = "mostactiveweek" style = "color: grey;font-size: 20px;">placeholder</span>
	<span class = "mostactiveweek" style = "color: grey;font-size: 20px;">placeholder</span>
	<span class = "mostactiveweek" style = "color: grey;font-size: 20px;">placeholder</span>
	<span class = "mostactiveweek" style = "color: grey;font-size: 20px;">placeholder</span>
	</div>
	</div>

<div style = "display: flex; align-items: center; flex-direction: column;">
	<video id = "vid" muted style="width:80%">
  <source src="{% static 'admin/img/week_graph.mp4' %}" type="video/mp4">
</video>
	<img id = "weeklyGraph" style= "width: 82%;" src="{% static 'admin/img/week_graph.png' %}">
	</div>
</div>

</body>
<div class = 'nav' id = "nav"  style="background: #f2f2f2;">
	 <a href="/monthly">
		<button class="btn btn-primary big-button back">Back</button>
	</a>
	<a href="/daily">
		<button class="btn btn-primary big-button next">Next</button>
	</a>
	</div>


</html>