<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% include "base.html" %}
	{{ freqeuncy_list |json_script:"frequency-list" }}
	{{ emoji | json_script:"emoji" }}
	{% load compress %}
	{% compress js/css %}
	<script src="https://d3js.org/d3.v4.js"></script>
	<!-- Load d3-cloud -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-transition/1.1.1/d3-transition.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
	<link rel="stylesheet" href="{% static 'admin/css/wordcloud.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/barChart.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/loader.css' %}">
	<script src="{% static 'admin/js/wordcloud.js' %}"></script>
	<script src="{% static 'admin/js/barChart.js' %}"></script>
	<script src="{% static 'admin/js/wordsPage.js' %}"></script>
	{% endcompress %}
<style>
  text:hover { opacity: .7 !important; }
</style>
</head>
<body scroll="no" style=" background-color: #f2f2f2;" >

{% include "navBar.html" %}

<div id = "header">

<h1 id = "hey" style = "text-align: center; color: grey;"> Total Unique Words: <span id="totalWords"> </span> </h1>
<!-- <script>
	document.getElementById("totalWords").textContent = JSON.parse(document.getElementById('frequency-list').textContent.length;
</script> -->
<p style = "text-align: center; color: grey;     margin-bottom: 0;" id = "filter"> Filter: stop words</p>
<div id="buttons" style = "display: flex; justify-content: space-evenly; align-items: center; visibility: hidden">
	<button type="button" class="btn btn-outline-primary btn-sm" id="download" style = "text-align: center;margin-right: 50px">Save</button>
	<button type="button" class="btn btn-outline-primary btn-sm" id="reset" style = "text-align: center;">Reset Zoom</button>
	<button type="button" class="btn btn-outline-primary btn-sm" id="topTen" style = "text-align: center; display: none">Zoom to top 10</button>
	<div>
	<span>Visualization type:</span>
	<div class="form-check">
	  <input class="form-check-input" type="radio" name="vizOption" id="exampleRadios1" value="wordcloud" checked>
	  <label class="form-check-label" for="exampleRadios1">
	    Wordcloud
	  </label>
	</div>
	<div class="form-check">
	  <input class="form-check-input" type="radio" name="vizOption" id="exampleRadios2" value="bargraph">
	  <label class="form-check-label" for="exampleRadios2">
	    Bar Graph
	  </label>
	</div>
	</div>
</div>
<!-- <div class = "dropdown-menu dropdown-menu-center">
	<div class="dropdown btn-group">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Filter Type
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    <button id = "stop" class="dropdown-item" >Stop Words</button>
	    <button id = "unfiltered" class="dropdown-item" >Unfiltered</button>
	    <button id = "polarity" class="dropdown-item" >High Polarity</button>
	    <button id = "subjectivity" class="dropdown-item" >High Subjectivity</button>
	  </div>
	</div>
</div> -->
</div>
<div id = "loader"><span class="spinme-left"><div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></span></div>

<div id = "data"  style="display: flex; justify-content: space-around;">
	<div id="my_dataviz" style="display: flex; justify-content: center"></div>
	 <div id="barChart"></div>

	<!-- <div id='layout'>
	    <div id='container'>
	      <svg viewBox='0 0 750 500'/>
	    </div>
  	</div> -->
</div>

<div class = 'nav' id = "nav">
	 <a href="/">
		<button class="btn btn-primary big-button back">Back</button>
	</a>
	<a href="/emojicloud">
		<button class="btn btn-primary big-button next">Next</button>
	</a>
	</div>
</body>
</html>