<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% include "base.html" %}
	<link rel="stylesheet" href="{% static 'admin/css/wordcloud.css' %}">
</head>
<body scroll="no" style="overflow: hidden; background-color: #f2f2f2;" >

{% include "navBar.html" %}

<div id = "header">

<h1 style = "text-align: center; color: grey;"> Our favorite words {{ gen }} </h1>
<h1 style = "text-align: center; color: grey;"> Total: placeholder </h1>
<p style = "text-align: center; color: grey;" id = "filter"> Filter: stop words</p>


<!-- <div class = "dropdown-menu dropdown-menu-center">
	<div class="dropdown btn-group">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Filter Type
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    <button id = "stop" class="dropdown-item" >Stop Words</button>
	    <button id = "unfiltered" class="dropdown-item" >Unfiltered</button>
	    <button id = "polarity" class="dropdown-item" >High Polarity</button>
	    <button id = "subjectivity" class="dropdown-item" >High Subjectivity</button>
	  </div>
	</div>
</div> -->
</div>
<div id = "data">
<div class="graphsWord"  id = "stopSection">
	<div class="graph">
		<img class="wordcloudsloth"  id ="wordcloud" src= "{% static 'admin/img/stopWordCloud.png' %}">
	</div>
	<div class="graph">
		<img class="wordBar" id ="wordbar" src= "{% static 'admin/img/stopWordBar.png' %}">
	</div>
</div>
<div class="graphsWord" id = "unfilteredSection">
	<div class="graph">
		<img class="wordcloudsloth"  id ="wordcloud" src=  '../static/admin/img/unfilteredWordCloud.png'>
	</div>
	<div class="graph">
		<img class="wordBar" id ="wordbar" src= '../static/admin/img/unfilteredWordBar.png'>
	</div>
</div>
<div class="graphsWord" id = "polaritySection">
	<div class="graph">
		<img class="wordcloudsloth"  id ="wordcloud" src=  '../static/admin/img/polarityWordCloud.png'>
	</div>
	<div class="graph">
		<img class="wordBar" id ="wordbar" src= '../static/admin/img/polarityWordBar.png'>
	</div>
</div>
<div class="graphsWord" id = "subjectiveSection">
	<div class="graph">
		<img class="wordcloudsloth"  id ="wordcloud" src=  '../static/admin/img/subjectivityWordCloud.png'>
	</div>
	<div class="graph">
		<img class="wordBar" id ="wordbar" src= '../static/admin/img/subjectiveWordBar.png'>
	</div>
</div>
</div>
<div class = 'nav' id = "nav">
	 <a href="/">
		<button class="btn btn-primary big-button back">Back</button>
	</a>
	<a href="/emojicloud">
		<button class="btn btn-primary big-button next">Next</button>
	</a>
	</div>
</body>
</html>